<header class="header">
    <div class="container">
        <nav class="main-nav">
            <ul class="main-nav__list">
                <li class="main-nav__item">
                    <a href="#" class="main-nav__link">Посилання 1</a>
                </li>
                <li class="main-nav__item">
                    <a href="#" class="main-nav__link">Посилання 2</a>
                </li>
                <li class="main-nav__item">
                    <a href="#" class="main-nav__link">Посилання 3</a>
                </li>
            </ul>
        </nav>
    </div>
</header>